#title{
    color:darkslategray;
    background-color: honeydew;
}

#form{
    background-color: honeydew;
}
/*Fecha de ingreso de datos*/
label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

/*Cuando no es valido*/
input:invalid {
    border: red solid 3px;
  }
  

